APP_PORT=3000
DB_DIALECT=mysql
DB_HOST=IP_DEL_HOST
DB_PORT=3306
DB_USERNAME=usuario_remoto
DB_PASSWORD=CAMBIAR_LOCALMENTE
DB_NAME=storelab
DB_SCHEMA=
DB_CONNECT_STRING=
JWT_SECRET=CAMBIAR_LOCALMENTE
JWT_EXPIRES_IN=15m
